body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.ClearLeft {

clear:left;

}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/******Menu*****/
.menu {
background-color:#456456;
display:block;
}
.menu ol li {
           list-style:none;
           float:left;
           padding-right:10px;
    }
.menu ol li a {
    text-decoration:none;
    }
/*vertical menu*/
.VerticalMenu {
    width:95%;
    background-color:#c3cdc9;

}

/*content*/
.content-wrapper {

width:960px;
}

.left_content {
float:left;
width:200px;
background-color:#DAE2EC;
}

.left_content ol li {

list-style:none;
}

.right-content {
    float:left;
    width:500px;
}
