body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.ClearLeft {
    clear: left;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/******Menu*****/
.menu {
    background-color: #DAE2EC;
    display: block;
    height:60px;
}

    .menu ol li {
        list-style: none;
        float: left;
        padding-right: 10px;
    }

        .menu ol li a {
            text-decoration: none;
        }
/*vertical menu*/


/*content*/
.content-wrapper {
    width: 960px;
}

.left_content {
    float: left;
    width: 200px;
    background-color: #EBF0F5
}
.VerticalMenu {
    margin: 2.5%;
    width: 95%;
    background-color: #EBF0F5
}
    .VerticalMenu ul {
        font-size: 0;
    }

        .VerticalMenu ul li {
            list-style: none;
            font-size: 12px;
        }

.right-content {
    padding-left:10px;
    float: left;
    width: 500px;
}
