@model WebShopCMS.Models.Categories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Categories</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category_Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
